.root {
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
}

.root > div {
    margin-bottom: 30px;
    position: relative;
}

.input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

.input:focus {
    outline: none;
}

.label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

.input:focus ~ .label,
.input:valid ~ .label,
.input.valid ~ .label {
    top: -20px;
    font-size: 14px;
    color: rgb(187, 65, 65);
}



.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: rgb(187, 65, 65);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
    width: 50%;
}

.buttoncont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
}

.regLogbtn {
    cursor: pointer;
    font-size: 22px;
    color:rgb(187, 65, 65);
}

.regLogbtn:hover { color: rgb(129, 47, 47); }
.regLogbtn:active {
    outline: none;
  color: rgb(129, 47, 47);
  
}

.highlight {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 0;
    pointer-events: none;
    opacity: 0.25;
}

.input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: rgb(187, 65, 65);
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: rgb(187, 65, 65);
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: rgb(187, 65, 65);
    }
    to {
        width: 0;
        background: transparent;
    }
}



.btnlogin {
    width: 150px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(187, 65, 65);
    box-shadow: 0 -3px  rgb(187, 65, 65) inset;
    transition: 0.2s;
    outline: none;
} 
.btnlogin:hover { background: rgb(129, 47, 47); }
.btnlogin:active {
    outline: none;
  background: rgb(129, 47, 47);
  box-shadow: 0 3px rgb(129, 47, 47) inset;
}
